body {
    font-family: Pixel;
    color: white;
    background-image: url(../imagens/imagens_menu/japan_pixel_art.gif);
    text-align: center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bottom {
    position: fixed;
    bottom: 0;
}

h1 {
    font-family: Pixel;
    color: white;
    font-size: 33px;

}
h2 {
    text-align: center;
    text-size-adjust: center;
}

.box1 {
    background-color: rgba(0, 0, 0, 0.626);
    color: white;
    font-family: Pixel;
    width: 300px;
    border: 15px transparent;
    padding: 50px;
    margin: 20px;
}

p {
    text-align-last: lower left;
}

@font-face {
    font-family: Pixel;
    src: url(../fontes_de_texto/ArcadeClassic-ov2x.ttf)
}

.menu {
    font-family: Pixel;
    color: white;
    background-image: url(../imagens/imagens_seleção/selection_menu.gif);
    text-align: center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


img {   
    width: 300px; 
    height: 200px; 
    object-fit: cover;
}

.borda {     
    border: 7px groove #308C82;   
    margin: 25px 50px 75px 100px;
    box-shadow: 10px 5px 5px  #112322;
}

.img-hover:hover {   
     transform-origin: 0 0;    
     transition: transform .5s, visibility .5s ease-in;    
     transform: scale(1.5);
}

.historia-menu {
    font-family: Pixel;
    color: white;
    background-image: url(../imagens/imagens_seleção/history_menu.gif);
    text-align: center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.caixa {
    background-color: rgba(0, 0, 0, 0.626);
    width: 900px;
    height: 880px;
    border: 15px transparent;
    padding: 50px;
    margin: 20px;
    position: relative;
    font-family: VT323;
    color: white;
    font-size: x-large;
    overflow: scroll;
    text-align: justify;
}

@font-face {
    font-family: VT323;
    src: url(../fontes_de_texto/VT323-Regular.ttf);

    
}

.curiosidades-menu {
    font-family: Pixel;
    color: white;
    background-image: url(../imagens/imagens_seleção/curiosity_menu.gif);
    text-align: center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.turismo-menu {
    font-family: Pixel;
    color: white;
    background-image: url(../imagens/imagens_seleção/tourism_menu.gif);
    text-align: center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.img-card-1{
    float: right;
    padding: 1.1%;
    height: 55%;
    width: 50%;
    position: relative;
    
}


.img-card-2{
    float: left;
    padding: 1.1%;
    height: 55%;
    width: 50%;
    position: relative;
}

h2 {
    text-align: center
}

.corpo {
    font-family: Pixel;
    color: white;
    background-image: url(../imagens/imagens_menu/zero-dance.gif);
    text-align: center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}